/* background-color: #f1f1ef; */

body {
  background-color: #fcfcfa !important;
}

.nav-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

nav {
  font-family: 'Lora', serif;
}

#logo-thumbnail {
  width: 12%;
}

#brand-name {
  font-size: 24px;
  letter-spacing: 1.5px;
}

#signup-btn {
  width: 20%;
  height: 10%;
  font-size: 1.4em;
}

#homepage-bottom-hr {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#hr-content {
  background: #fff;
  padding: 0 10px;
}

.website-logo {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  height: auto;
}

.nav-left {
  padding: 0 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0.013em;
  z-index: 100;
}

.form-lead {
  word-spacing: 0.1em;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.hr-container {
  max-width: 50%;
  margin: 40px auto;
}

.search-title {
  letter-spacing: 1.5px;
  margin-top: 10%;
}

#search-button-official {
  width: 40%;
  height: 35%;
  font-size: 1.4em;
  /* padding-bottom: 5%; */
}

#search-button-bill {
  width: 40%;
  height: 35%;
  font-size: 1.4em;
}

.gov-member-pic {
  max-width: 80%;
  height: auto;
}

.social-icon {
  width: 6%;
  float: right;
  margin-left: 2%;
  height: auto;
}

.youtube-icon {
  width: 8.5%;
  float: right;
  margin-left: 2%;
}

#contact-link {
  font-size: 1.2em;
}

#member-display-name {
  font-family: 'Lora', serif;
}

#voting-records {
  font-family: 'Lora', serif;
  text-decoration: underline;
}

/* .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
} */

.onboarding > .navbar {
  background-size: 100% 100%;
}

.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding > .navbar a {
  color: #fff;
}

.onboarding > .navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-color: #fff;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}
