{% extends 'base.html' %}

{% block content %}
{% for bill in bill_data %}
  <div class="row justify-content-center mt-3">
    <div class="card bg-white w-75 my-4">
      <div class="card-header font-weight-bold">
        <a href="/search/bill/{{bill['bill_id']}}">{{bill['bill_id']}}</a>
      </div>
      <div class="card-body bg-secondary">
        <h5 class="card-title">{{bill['short_title']}}</h5>
        <p class="card-text">{{bill['summary']}}</p>
        <li>{{bill['active']}}</li>
        <li>{{bill['committees']}}</li>
        <li>{{bill['congressdotgov_url']}}</li>
        <li>{{bill['govtrack_url']}}</li>
        <li>{{bill['primary_subject']}}</li>
        <li>{{bill['introduced_date']}}</li>
        <li>{{bill['last_vote']}}</li>
        <li>{{bill['latest_major_action']}}</li>
        <li>{{bill['last_vote']}}</li>
        <li>{{bill['title']}}</li>
        <li>{{bill['senate_passage']}}</li>
      </div>
    </div>
  </div>


  <!-- <h1>{{bill['bill_id']}}</h1>
  <h2></h2>
  <li>{{bill['active']}}</li>
  <li>{{bill['committees']}}</li>
  <li>{{bill['congressdotgov_url']}}</li>
  <li>{{bill['govtrack_url']}}</li>
  <li>{{bill['primary_subject']}}</li>
  <li>{{bill['introduced_date']}}</li>
  <li>{{bill['last_vote']}}</li>
  <li>{{bill['latest_major_action']}}</li>
  <li>{{bill['last_vote']}}</li>
  <li>{{bill['title']}}</li>
  <p>{{bill['summary']}}</p>
  <li>{{bill['senate_passage']}}</li> -->

{% endfor %}
{% endblock %}