{% extends 'base.html' %}

{% block content %}
 
<div class="text-center mt-5 mb-4">
    <a class="btn bg-secondary text-primary mr-4 mb-1" href="/search">Senate</a>
    <span class="pipe">|</span>
    <a class="btn bg-secondary text-primary ml-4 mb-1" href="/search/congress">Congress</a>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
      <thead class="bg-secondary">
          <tr>
            <th scope="col">Id</th> 
            <th scope="col">First Name</th> 
            <th scope="col">Last Name</th> 
          </tr>
      </thead>
      <tbody>
          {% for member in members %}
          <tr>
              <td><a href="/search/member/{{member['id']}}"> {{ member['id'] }} </a></td>
              <td> {{ member['first_name'] }} </td>
              <td> {{ member['last_name'] }} </td>
          </tr>
          {% endfor %}
      </tbody> 
  </table>
</div>
  
{% endblock %}
