{% extends 'base.html' %}

{% block content %}
<a href="javascript:history.back()"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
<div class="card mt-3">
  <h5 class="card-header">{{nomination_data['id']}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{nomination_data['description']}}</h5>
    <p class="card-text">{{nomination_data['status']}}</p>
    <div><strong class="mr-2">Last major action date: </strong>{{nomination_data['latest_major_action']}}</div>
    <div><strong class="mr-2">Nominee state: </strong>{{nomination_data['nominee_state']}}</div>
    <div>Votes:

      <ul>
        <div><i>{{nomination_data['votes'][0]['question']}}</i></div>
        <div>Date: {{nomination_data['votes'][0]['date']}}</div>
        <div>Result: {{nomination_data['votes'][0]['result']}}</div>
        <li class="text-primary"><strong>YES:</strong> {{nomination_data['votes'][0]['total_yes']}}</li>
        <li class="text-danger"><strong>NO:</strong> {{nomination_data['votes'][0]['total_no']}}</li>
        <li><strong>Not Voting:</strong> {{nomination_data['votes'][0]['total_not_voting']}}</li>
      </ul>
      <hr>
      <ul>
        <div><i>{{nomination_data['votes'][1]['question']}}</i></div>
        <div>Date: {{nomination_data['votes'][1]['date']}}</div>
        <div>Result: {{nomination_data['votes'][1]['result']}}</div>
        <li class="text-primary"><strong>YES:</strong> {{nomination_data['votes'][1]['total_yes']}}</li>
        <li class="text-danger"><strong>NO:</strong> {{nomination_data['votes'][1]['total_no']}}</li>
        <li><strong>Not Voting:</strong> {{nomination_data['votes'][1]['total_not_voting']}}</li>
      </ul>
    </div>
    <div>
      <div class="mb-2">Bill Actions:</div>
      {% for action in nomination_data['actions'] %}
        <ul>
          <li>{{action['date']}}</li>
          <li><i>{{action['description']}}</i></li>
        </ul>
      {% endfor %}
    </div>
    
  </div>
</div>
{% endblock %}

